<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.dnlk.followmeradio"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:icon="@drawable/ic_letters"
        android:label="@string/app_name"
 
        android:theme="@style/AppTheme" >
        <activity
            android:name="net.dnlk.followmeradio.MainActivity"
            android:label="@string/title_activity_main" 
            android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="net.dnlk.followmeradio.FollowmeRadioService"
            android:enabled="true"
            android:label="FollowmeRadioService" >
        </service>
    </application>

</manifest>